body{
    font-family: 'Nunito', sans-serif;
    background: #d3cce3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d3cce3, #e9e4f0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d3cce3, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#titulo{
    text-align: center;
    font-size: 2.5em;
    
    
}
#electores{
    text-align: center;
    max-width:  600px;
    margin: 20px auto;
    border:  1px solid #ddd;
    box-shadow:  1px 3px 5px rgba(0, 0, 0, .5);
    text-decoration: none;
    
}

button{
    padding: 10px 20px;
    margin: 5px;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    display: inline-block;
}
